
.search-car-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-appbar {
  width: 40px;
  height: auto;
  margin-left: 10px;
}

.cover-photo {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  object-fit: cover;
}

.search-car-header {
  text-align: center;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  background-color: #808000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.results-container,
.entered-cars-table {
  margin-top: 20px;
  width: 100%;
}

.car-details-table,
.entered-cars-table {
  border-collapse: collapse;
}

.car-details-table th,
.car-details-table td,
.entered-cars-table th,
.entered-cars-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.car-details-table th,
.entered-cars-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .cover-photo {
      height: 200px;
  }

  input {
      width: 100%;
      margin-bottom: 10px;
  }

  .search-bar {
      flex-direction: column;
  }

  button {
      width: 100%;
  }
}
